.vscode/**
.vscode-test/**
src/**
scripts/**
webview/**
node_modules/**
vite.config.mjs
vite.extension.config.mjs
.vscodeignore
**/*.map
**/.DS_Store
dist/marktodocx-vscode-extension.vsix
pack_output.json
